.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
nr_dapp/node_modules/
nr_dapp/.parcel-cache
nr_dapp/venv
nr_dapp/__pycache__
nr_dapp/dist/**
!nr_dapp/dist/.gitkeep